@page "/box"
@inject IJSRuntime JS

<PageTitle>Casually Components | Box</PageTitle>

<h1>Box</h1>

Props, syntax, and usage documentation to come.

<casually-box>
 <h1> Yay! I am </h1>
</casually-box>

<casually-box skin="asphalt">
    <ul>
        <li> Happy </li>
        <li> Excited </li>
        <li><b> Ecstatic </b></li>
    </ul>
</casually-box>