@page "/button"
@inject IJSRuntime JS

<PageTitle>Casually Components | Button</PageTitle>

<h1>Button</h1>

Props, syntax, and usage documentation to come.

<casually-button text="Connected Casually Components!"></casually-button>
<casually-button shape="wedge" skin="asphalt"></casually-button>
<casually-button skin="paper"></casually-button>