@page "/card"
@inject IJSRuntime JS

<PageTitle>Casually Components | Card</PageTitle>

<h1>Card</h1>

Props, syntax, and usage documentation to come.

<casually-card>
 <h1> Yay! I am </h1>
</casually-card>

<casually-card skin="asphalt">
    <ul>
        <li> Happy </li>
        <li> Excited </li>
        <li><b> Ecstatic </b></li>
    </ul>
</casually-card>