@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div @ref="artCtr" style="height:300px;width:300px;">
    @* Casually CSS Artwork goes here *@
</div>

<button @onclick="onbuttonclick"> Create Swiss Army Knife  </button>

<casually-button text="Connected Casually Components!"></casually-button>

<casually-box>
 <h1> Yay! I am </h1>
</casually-box>

<casually-card>
    <ul>
        <li> Happy </li>
        <li> Excited </li>
        <li><b> Ecstatic </b></li>
    </ul>
</casually-card>

<a href="/" id="hex" class="btnOuter platinum">
    <span class="pt">
        <div></div><div></div>
        </span>
        <div class="btnInner">
        <div><div class="fill">Hardcoded Please</div></div>
        </div>
        <span class="pt">
        <div></div><div></div>
    </span>
</a>

@code{
    ElementReference artCtr;
    private string artName = "swiss";

    async protected void onbuttonclick (MouseEventArgs args)
    {
        await JS.InvokeVoidAsync("create", artCtr, artName);
    }
}