@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div id="art-ctr" style="height:300px;width:300px;">
    @* Casually CSS Artwork goes here *@
</div>

<button @onclick="onbuttonclick"> Create Swiss Army Knife  </button>

@code{
    private string artName = "swiss";
    private string artCtr = "art-ctr";

    async protected void onbuttonclick (MouseEventArgs args)
    {
        await JS.InvokeVoidAsync("createArt", artCtr, artName);
    }
}