@page "/social-button"
@inject IJSRuntime JS

<PageTitle>Casually Components | SocialButton</PageTitle>

<h1>SocialButton</h1>

Props, syntax, and usage documentation to come.

<social-button link="https://linkedin.com"></social-button>
<social-button link="https://github.com"></social-button>
<social-button link="https://www.twitter.com/"></social-button>